table{
    display: table; 
    text-align: left;
}

    tbody{
        border: 0;
    }
    tr{
        border: 0; 
        border-top: 1px solid #ccc;
        background-color: white;
    }
    th{
        font-size: 16px; 
        padding: 5px 10px; 
        font-weight: bold; 
        border: 1px solid #009688; 
        background-color: #009688; 
        color: #f8f8f8; 
        border-bottom: 0; 
        text-align: left;
    }
    td{
        font-size: 16px; 
        padding: 5px 10px; 
        border: 1px solid #009688; 
        text-align: left;
    }
    a{
        text-decoration: none; 
        word-wrap: break-word; 
        font-weight: bold; 
        color: #009688; 
        border-bottom: 1px solid #009688;
    }