table {
  display: inline-block !important;
  max-width: 100%;
  overflow-x: hidden;
  width: auto;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #009688;
}
table thead {
  text-align: center;
  background: #009688;
  color: #fff;
}
table tbody {
  display: inline-block !important;
  max-width: 100%;
  overflow-x: scroll;
  width: auto;
}
table tr {
  position: relative;
  z-index: 0;
}
table td, table th {
  color: #34495E;
  padding: 5px 15px;
  border-left: none;
  border-top: none;
  white-space: nowrap;
  line-height: 32px;
  position: relative;
  z-index: 0;
}
table th {
  font-weight: bold;
  background-color: #009688;
  color: #fff;
  font-size: 18px;
}
table td {
  background-color: #fff;
  border-top: 1px solid #009688;
}
table tr:nth-of-type(2n) > td {
  background: #ECF0F1;
}
table td:first-child, table th:first-child {
  box-shadow: 10px 0 8px -8px rgba(0, 0, 0, 0.15);
}
table td:first-child {
  height: 100%;
  position: sticky;
  left: 0;
  z-index: 2;
  line-height: 1;
  font-weight: bold;
}
table td:first-child p {
  font-size: 14px;
  min-width: 200px;
}
table th:last-child, table td:last-child {
  width: 100%;
}
table p {
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
}